# Code Coverage Report

| File                             | Stmts   | Miss   | Cover   | Missing                                    |
|----------------------------------|---------|--------|---------|--------------------------------------------|
| client_management/__init__.py   | 0       | 0      | 100%    |                                            |
| client_management/admin.py      | 11      | 0      | 100%    |                                            |
| client_management/apps.py       | 4       | 0      | 100%    |                                            |
| client_management/models.py     | 58      | 12     | 79%     | 18, 22-25, 28, 41, 54, 57-59, 80           |
| course_management/__init__.py   | 0       | 0      | 100%    |                                            |
| course_management/admin.py      | 22      | 0      | 100%    |                                            |
| course_management/apps.py       | 4       | 0      | 100%    |                                            |
| course_management/models.py     | 91      | 23     | 75%     | 19, 35, 38-41, 44, 47-49, 72, 94, 97-105, 108-116, 131, 146 |
| manage.py                       | 13      | 2      | 85%     | 13-14                                     |
| pages/__init__.py               | 0       | 0      | 100%    |                                            |
| pages/admin.py                  | 1       | 0      | 100%    |                                            |
| pages/apps.py                   | 4       | 0      | 100%    |                                            |
| pages/models.py                 | 1       | 0      | 100%    |                                            |
| project_k/__init__.py           | 0       | 0      | 100%    |                                            |
| project_k/settings.py           | 44      | 1      | 98%     | 131                                        |
|<br/>**TOTAL**                        | **253** | **38** | **85%** |                                            |
